body {
padding-top: 68px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #FDFFFC;
  font-size: 16px;
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}





.button-white {
	border:1px solid #f52b21;
	color:#f52b21;
}

.button-white:hover  {
		color:#fff;
	background-color:#f52b21;
}


.text-red{
	color:#f52b21;
}

.text-green {
	color: #4CB944;
}


.text-blue {
	color: #f52b21;
}

.bg-blue {
	background: rgb(238,225,194);
}

.navbar-light {
    background-color: #fff;
    box-shadow: 0 -3px 5px 0px grey;
}

.button-red {
	color:#fff;
	background-color:#f52b21;
	border:1px solid #f52b21;
}

.navbar-light .navbar-nav .nav-link.button-red {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link.button-red:hover {
 color: #f52b21;
} 


.card {
	border-radius: 0px;
}
.button-red:hover {
background-color: #fff;
border:1px solid #f52b21;
color:#f52b21;
text-decoration: none;
}

.btn {
	border-radius: 0px;
}

.btn:focus {
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.form-control {
	border-radius: 0px;
}

.header-block {
	background: rgb(238,225,194);
}

.table-striped tbody tr:nth-of-type(odd){
background: #eee1c2;
}

.form-group.required label:after {
  content:"*";
  color:#f52b21;
}

a.text-blue:hover {
	color: #000;
}

a.text-red:hover {
	color: #000;
}

.header-height {
	height: 200px;
}
